html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 235);
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 30px;
}

.header {
  background: rgb(41, 41, 41) none repeat scroll 0% 0%;
  margin-bottom: 1.45rem;
}

.main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0,
}

.card {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.card .video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 40px auto;
  display: block;
}

.card .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.secondary-text {
  color: rgb(98, 98, 98);
}

footer {
  color: rgb(98, 98, 98);
  font-size: 90%;
  padding-bottom: 5px;
  padding-left: 5px;
}

.bom-entry {
  padding-top: 20px;
}

.bom-entry .bom-details {
  display: flex;
}

.bom-details .bom-description {
  padding-left: 1rem;
}

.bom-entry .bom-photo {
  width: 100%;
  flex-basis: 30%;
  flex-shrink: 0;
}

@media (max-width: 600px) { 
  .bom-entry .bom-details {
    display: flex;
    flex-direction: column;
  }
  .bom-entry .bom-photo {
    width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .bom-details .bom-description {
    padding-left: 0;
  }
}
